<head><link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"></head>

<div class="title">
	-Shouni
</div>
<div class="video"><%= video_tag "anime_comp1.mp4", autoplay:true, height: "100%", width: "100%", loop: true%>
</div>

<div class="bar">
	<div class="faces">
		<%= link_to image_tag("romance.png"), romance_path, class:"icon", title:"Romance", method: :post %>
		<%= link_to image_tag("magic_fantasy.png"), magic_path, class:"icon", title:"Magic & Fantasy", method: :post %>
		<%= link_to image_tag("mystery.png"), mystery_path, class:"icon", title:"Mystery", method: :post %>
		<%= link_to image_tag("comedy.png"), comedy_path, class:"icon", title:"Comedy", method: :post %>
		<%= link_to image_tag("scifi.png"), scifi_path, class:"icon", title:"Sci-Fi",method: :post %>
		<%= link_to image_tag("thriller_action.png"), action_path, class:"icon", title:"Thriller & Action", method: :post %>
		<%= link_to image_tag("adventure.png"), adventure_path, class:"icon", title:"Adventure", method: :post %>
	</div>
</div>
