<head><link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet"></head>

<div class="title">
	-Shouni
</div>
<div class="video"><%= video_tag "anime_comp1.mp4", autoplay:true, height: "100%", width: "100%", loop: true%>
</div>
<<<<<<< HEAD
<!-- <div class="search"><%= button_to "Random", search_path, class: "butt"%>
</div> -->
<div class="bar">
	<div class="faces">
		<%= link_to image_tag("romance.png"), search_path, class:"icon", title:"Romance", method: :post %>
		<%= link_to image_tag("magic_fantasy.png"), search_path, class:"icon", title:"Magic & Fantasy", method: :post %>
		<%= link_to image_tag("mystery.png"), search_path, class:"icon", title:"Mystery", method: :post %>
		<%= link_to image_tag("comedy.png"), search_path, class:"icon", title:"Comedy", method: :post %>
		<%= link_to image_tag("scifi.png"), search_path, class:"icon", title:"Sci-Fi",method: :post %>
		<%= link_to image_tag("thriller_action.png"), search_path, class:"icon", title:"Thriller & Action", method: :post %>
		<%= link_to image_tag("adventure.png"), search_path, class:"icon", title:"Adventure", method: :post %>
	</div>
=======
<div class="bar"><%= image_tag "bar2.png", width: "100%", height: "100%" %>
<div class="faces">
	<%= link_to image_tag("romance.png"), search_path, class:"icon", method: :post %>
	<%= link_to image_tag("magic_fantasy.png"), search_path, class:"icon", method: :post %>
	<%= link_to image_tag("mystery.png"), search_path, class:"icon", method: :post %>
	<%= link_to image_tag("comedy.png"), search_path, class:"icon", method: :post %>
	<%= link_to image_tag("scifi.png"), search_path, class:"icon", method: :post %>
	<%= link_to image_tag("thriller_action.png"), search_path, class:"icon", method: :post %>
	<%= link_to image_tag("adventure.png"), search_path, class:"icon", method: :post %>
</div>
>>>>>>> 5e0d5d90061a1517b0a653f6ca33e9e6cb9c8c8c
</div>
